html
  head
    h1.title-company Netocompany
    link(rel='stylesheet' href='/style.css')
  body
    h1 Staff Login
    form(method='POST', action='/loginStaff')
      label(for='forename') Forename:
      input(type='text', name='forename')
      div
      label(for='surname') Surname:
      input(type='text', name='surname')
      div
      label(for='password') Id Number:
      input(type='password', name='password')
      div
      button(type='submit') Login

      // Made by Alexandros Ntouka



