html
  head
    h1.title-company Netocompany
    title Patient Manager
    link(rel='stylesheet' href='/style.css')
  body
    h1 Appointments booked with you
    form
      table
        tr
          th Patitient's NhsNo
          th Appointment Date
          th Appointment Time
          th Reason 

        each appointment in Appointments
          tr
            td #{appointment.NhsNo}
            td #{appointment.Date}
            td #{appointment.Time}
            td #{appointment.Note}
            td
              a(href='/PatientRecords/' + appointment.NhsNo) View

      div
      button.button-format(type='button', onclick='window.history.back();') Back

      // Made by Ivan Koraliev
