html
  head
    h1.title-company Netocompany
    h1 What Would You like To Do?
    link(rel='stylesheet' href='/style.css')

  body
    h1 Patient Index Page
    p.p-format Click <a href="/patients">here</a> to go to the Patient Index Page.
    p.p-format Click <a href="/vaccines">here </a> to go to the Vaccine Records Page.
    p.p-format Click <a href="/appointment">not finishedd </a> to go to the Doctor's booked appointments.
    h1 Patient Login Page
    p.p-format Click <a href="/loginPatient">here</a> to go to the Patient Login Page.
    div
    h1 Staff Login Page
    p.p-format Click <a href="/loginStaff">here</a> to go to the Staff Login Page.

    p.p-format Click <a href="/vaccines">here </a> to go to the Vaccine Records Page.
    p.p-format Click <a href="/appointments">not finishedd </a> to go to the Doctor's booked appointments.
