html
  head
    h1.title-company Netocompany
    h1 What Would You like To Do?
    link(rel='stylesheet' href='/style.css')

  body
    h1 Patient Login Page
    p.p-format Click <a href="/loginPatient">here</a> to go to the Patient Login Page.
    div
    h1 Staff Login Page
    p.p-format Click <a href="/loginStaff">here</a> to go to the Staff Login Page.
